<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>face</title>
    <link rel="stylesheet "href="quantum_css.css">
</head>
<body>
    <div class="outerContainer">
        <div class="paints">
        <img src="pict8.png">
        <img src="pict9.png">
        
        </div>
        <div class="innerContainer">
            <h1>Emergence Theory and the Golden Ratio</h1>
             
             <p>Emergence theory predicts a fundamental, natural phenomenon that is so strange yet so prevalent that, with no physics theory having ever explained it, has been largely ignored by the scientific establishment and often seen as the stuff of amateur scientists and hobbyists. This phenomenon is the ubiquity of the golden ratio in nature from the micro (including the Planck scale) to the macro scale. Upon learning of a golden ratio related fact, most scientists will often treat it as a coincidence. However, the statistical probability of the golden ratio’s unrelenting prevalence to such high accuracy is practically zero.

The “golden ratio” (sometimes called the “golden mean” or “golden section”) is a fundamental geometric ratio that appears in a circumscribed equilateral triangle.

The value of the golden ratio is 0.618 or 1.618. It is an irrational number often symbolized by the Greek letter “phi” ( Φ, φ ) and can be expressed by this formula:</p>
             <p>
                Many of the ways the golden ratio (as well as its rational form, the Fibonacci sequence) appears in nature are well-known –  a quick list of examples includes flower petals, seed heads, pine cones, shells, spiral galaxies, hurricanes, faces, DNA molecules and many more. None of this is new. It would be news to many people, however, that the golden ratio makes many precise (100% accuracy) and near-precise (accuracy of and near 99.99…%) appearances in values related to astronomical bodies that are often surprising and interesting. For example it appears, notably, in black hole physics: the golden ratio is precisely the point where a black hole’s modified heat changes from positive to negative, and it is part of the equation for the lower bound on black hole entropy. The golden ratio even relates to the loop quantum gravity parameter to black hole entropy. The three formulas respectively can be seen in this graphic
             </p> 
             <p>
                 Therefore, the golden ratio may be the fundamental constant of nature.

Black holes are where general relativity and quantum mechanics converge at their limits. Any unification model (“theory of everything”) must include these two theories. In binary matrices, which were used by Heisenberg to describe quantum mechanics, the highest probability non-trivial eigenvalues are the golden ratio, and negative one over the golden ratio. The golden ratio appears fundamentally in quantum mechanics and in black holes. The golden ratio appears in atoms as well. The atomic radius of hydrogen in methane is the Bohr radius over the golden ratio. In 1993 Lucien Hardy of the Perimeter Institute discovered that the probability of entanglement for two particles projected in tandem is the golden ratio over negative 5.

Emergence theory is based deeply on the notion of language. 
             </p>
             

             
        </div>
        
    </div>


</body>
</html>