
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arts</title>
    <link rel="stylesheet" href="../css/arts.css">
    </head>
<body>
    <h1 style="color: coral;text-align: center;">Historic Arts</h1><br>  
    <div class="outerContainer">
      <div class="cards">
      <div class="image"><img src="../assets/artspic/vitrvian man.jpg"></div>
      <div class="title"><h3>Religious Touch</h3></div>
      <div class="des">
        <p>The golden ratio, linking the past to the present </p>
        <button><a href="../components/historic-arts-disc/rel.html">Read More</a></button>
      </div>
      </div>
      <div class="cards">
        <div class="image"><img src="../assets/artspic/monalisa.jpg"></div>
        <div class="title"><h3>Paintings</h3></div>
        <div class="des">
          <p>The paintings by Vinci,singing the Divine Number</p>
          <button><a href="../components/historic-arts-disc/paintings.html">Read More</a></button>
        </div>
        </div>

        

          <div class="cards">
            <div class="image"><img src="../assets/tajmahal.jpg"></div>
            <div class="title"><h3>Monuments</h3></div>
            <div class="des">
              <p>The golden ratio in the magnificent structures of the past </p>
              <button><a href="..//components/historic-arts-disc/Monuments.html">Read More</a></button>
            </div>
            </div>
        </div>
        
        <h1 style="color: coral; text-align: center; padding: 10px;">Modern Arts</h1>

        <div class="outerContainer">
          <div class="cards">
          <div class="image"><img src="../assets/modern arts/logo.jpg"></div>
          <div class="title"><h3>Logos</h3></div>
          <div class="des">
            <p>Know how attractive logos are built using this ratio.</p>
            <button><a href="../components/historic-arts-disc/Logo/logos.html">Read More</a></button>
          </div>
          </div>
          <div class="cards">
            <div class="image"><img src="../assets/modern arts/architecture.jpg"></div>
            <div class="title"><h3>Modern Architecture</h3></div>
            <div class="des">
              <p>The ancient ratio beautifying the modern architecture!!</p>
              <button><a href="../components/modarch/modernarch.html">Read More</a></button>
            </div>
            </div>
    
            
    
              <div class="cards">
                <div class="image"><img src="../assets/modern arts/photography.jpg"></div>
                <div class="title"><h3>Photography</h3></div>
                <div class="des">
                  <p>Discover how the photographers take perfect photos using the Golden Ratio</p>
                  <button><a href="./photography/photo.html">Read More</a></button>
                </div>
                </div>
                 </div>
                

           

             
</body>
</html>