<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/discoverystyles.css">
</head>
<body>
    <div id="part1">
    <h1>What is Golden ratio?</h1>
    
    <p>Throughout history, the ratio for length to width of rectangles of 1.61803 39887 49894 84820 has been considered the most pleasing to the eye. This ratio was named the golden ratio by the Greeks. In the world of mathematics, the numeric value is called "phi", named for the Greek sculptor Phidias. The space between the collumns form golden rectangles.<br> There are golden rectangles throughout this structure which is found in Athens, Greece
Johannes Kepler (1571-1630), discoverer of the elliptical nature of the orbits of the planets around the sun, also made mention of the “Divine Proportion,” saying this about it:

“Geometry has two great treasures: one is the theorem of Pythagoras; the other, the division of a line into extreme and mean ratio. The first we may compare to a measure of gold; the second we may name a precious jewel.”
  <h3?>Discoverer</h3>
It is believed that Martin Ohm (1792–1872) was the first person to use the term “golden” to describe the golden ratio. to use the term. In 1815, he published “Die reine Elementar-Mathematik” (The Pure Elementary Mathematics). 
    
<img id="one" style="float: right;" src="../assets/goldenterm.jpg">
Michael Maestlin, the first to write a decimal approximation of the ratio.

<h2>Maths Behind</h2>
<p>Section, Golden Mean, Divine Proportion or Greek letter Phi) exists when a line is divided into two parts and the longer part (a) divided by the smaller part (b) is equal to the sum of (a) + (b) divided by (a), which both equal 1.618.</p>
<img style="width: 500px;" src="../assets/image12.gif">

</div>
</body>
</html>