<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./artsdisc.css">
</head>
<body>
    <div class="outerContainer">
        <img style="padding-right: 25px;" src="./monupics/Parthenon.jpg">
        <img style="padding-right: 25px;" src="./monupics//tajgif.gif">
        <img style="padding-right: 25px;" src="./monupics/tower.png">
        <div class="innerContainer">
            <img style="width: 200px;float:right;padding-right: 10px;"src="monupics/spiral-ani.gif">
        <h2 style="float: left;padding-right: 40px;">Golden Ratio and The Monuments</h2>
        <h3 style="float: left;padding-right: 40px;">The Parthenon</h3>
        <p style="float:left;">The Parthenon in Athens, built by the ancient Greeks from 447 to 438 BC, is regarded by many to illustrate the application of the Golden Ratio in design.
            The Parthenon was constructed using few straight or parallel lines to make it appear more visually pleasing, a brilliant feat of engineering.    
            Even if the Golden Ratio wasn’t used intentionally in its design, Golden Ratio proportions may still be present as the appearance of the Golden Ratio in nature and the human body influences what humans perceive as aesthetically pleasing.
        </p>
        <h3 style="float: left;">Taj Mahal</h3>
        <p style="float: left;">Ustad Ahmad Lahauri is generally considered to be the principal designer of the Taj Mahal.
            A golden rectangle is a rectangle whose side lengths are in the golden ratio, one-to-phi, that is, approximately 1:1.618. A distinctive feature of this shape is that when a square section is removed, the remainder is another golden rectangle, that is, with the same proportions as the first. 
        </p>
        <h3 style="float: left;">Eiffel Tower</h3>
         <p style="float: left;">The Eiffel Tower, erected in 1889 is an iron lattice tower located on the Champ de Mars in Paris, France. It was named after the engineer Alexandre Gustave Eiffel, whose company designed and built the tower. Read more. A golden rectangle is a rectangle whose side lengths are in the golden ratio, one-to-phi, that is, approximately 1:1.618.
            The Golden Ratio
            The Height is 984 feet
            Length is 1063 feet
            1.08
            It is not very golden
            It is still aesthetically pleasing because it is symmetrical, tall and elegant
            The Golden Ratio of the Eiffel Tower
        </p>
        
        </div>
    </div>
</body>
</html>