<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet "href="./artsdisc.css">
</head>
<body>
    <div class="outerContainer">
        <div class="paints">
        <img src="./mona.jpg">
        <img src="./Vitruvian-Man-Fractional.jpg">
        <img src="./last-supper-phi-golden-ratio.gif">
        </div>
        <div class="innerContainer">
            <h1>Da Vinci and the Divine Proportion in Art Composition</h1>
             <h3>Da Vinci’s Mona Lisa and the Golden Ratio</h3>
             <p>One of Da Vinci’s most famous paintings is “La Jaconde,” the Mona Lisa. This painting was begun in about 1503 and work on it continued for years.
                Golden ratio lines from the center of the painting to the sides of the canvas align nicely with the width of her hair. There may also be golden ratios in the vertical dimensions of the painting.
             <br>
             
            </p>
             
             <h3>The Vitruvian Man</h3>
             <p>Another of Da Vinci’s most famous works is that of the Vitruvian Man, created around 1490. The official title of the drawing is “Le proporzioni del corpo umano secondo Vitruvio,” or “The proportions of the human body according to Vitruvius.
                Approaches to measuring the human body express it just as well or better in golden ratio.
             </p>
             <br>
             <h3>The Last Supper</h3>
             <p>The Last Supper is the final meal that, in the Gospel accounts, Jesus shared with his Apostles in Jerusalem before his crucifixion. The Last Supper is commemorated by Christians especially on Maundy Thursday. The Last Supper provides the scriptural basis for the Eucharist, also known as "Holy Communion" or "The Lord's Supper".

             </p>

        </div>
        
    </div>
</body>
</html>